.text-div {
  margin: 8rem;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  width: calc(100% - 600px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  resize: vertical;
}

textarea:focus {
  outline: none;
  border-color: #007bff;
}

.summary {
  width: calc(100% - 900px);
  text-align: left;
  align-self: center;
  padding: 3rem;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preview {
  width: calc(100% - 900px);
  min-height: 5rem;
  max-height: 10rem;
  border: 2px solid black;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 12px;
  text-align: center;
  overflow-y: auto; 
  overflow-x: hidden;
}
